<h2>Select a chart type:</h2>

<div style="float: left;">
  <ul>
    <li><%= link_to 'Area Chart', area_chart_path -%></li>
    <li><%= link_to 'Bar Chart', bar_chart_path -%></li>
    <li><%= link_to 'Column Chart', column_chart_path -%></li>
    <li><%= link_to 'Gauge', gauge_path -%></li>
    <li><%= link_to 'Line Chart', line_chart_path -%></li>
    <li><%= link_to 'Pie Chart', pie_chart_path -%></li>
    <li><%= link_to 'Geo Chart', geo_chart_path -%></li>
  </ul>
</div>

<div id="logo"></div>

<br style="clear: both;" />
